.li {
    position: absolute;
    top: 0;
}

.shuffled-deck img {
    width: 80px;
    position: relative;
}

/* this was what I used to do with the grid system, but I don't think I like it */
/* .shuffled-deck{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
}
li:nth-child(1){
    grid-column: 1/span2;
    grid-row:1/span 2;
}
li:nth-child(2){
    grid-column: 1/span2;
    grid-row:2/span 2;
}
li:nth-child(3){
    grid-column: 1/span2;
    grid-row:3/span 2;
}
li:nth-child(4){
    grid-row:1/span 2;
} */