/* white #F2F2DC
blue gray #9FBFAD
bright yellow #F2E416
dark blue #23302B
orange #D95F18 */


* {
    padding: 0;
    margin: 0;
    font-family: "Georgia", serif;
    color:#23302B
}
html {
    height: 100%;
}
body {background-image: linear-gradient(#dbf1fe,#8fcbff) ;}

nav {
    position: fixed;
    padding: 5px;
    margin: 5px;
    top:2%;
    color:#F2E416;
    /* background-color: #23302B; */
    font-size: large;
}
h1{
    position: relative;
    padding: 20px;
    margin: 20px;
    margin-top: 40px;

}

.li {
    position: absolute;
    top: 0;
}

.deck-container{
    padding: 10 px;
    margin: 10 px;
}
.shuffled-deck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
}
.shuffled-deck img {
    width: 80px;
    margin-left: -30px;
    margin-top: -40px;
}

#draw-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
#draw-container img {
    width: 160px;
    margin: 20px
}

button {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-style: italic;
    border:none;
    color: #F2F2DC;
    background-color:#23302B ;
}

button:hover{
    background-color:#68766e;
}

